@import '@/Styles/typography'

.logo
  border-radius: var(--radius-circular, 99px)

.logo-title
  display: flex
  align-items: center
  color: hsl(var(--white))

  &.column
    flex-direction: column

  &.small
    @include title-small
    gap: var(--spacing-xxs)

  &.medium
    @include headline-small
    gap: var(--spacing-m)

  &.large
    @include display-large
    gap: var(--spacing-xl)

  &.xLarge
    @include display-large
    gap: var(--spacing-xxxl)
