@import '@/Styles/mixins'

.header
  @include flex-center
  flex-direction: column
  gap: var(--spacing-m)
  position: relative
  min-height: clamp(10rem, 25vh, 20rem)

  &__logo
    @include flex-center
    flex: 1

  &__params-controls
    position: absolute
    top: var(--spacing-l)
    right: var(--spacing-l)
    display: flex
    align-items: center
    gap: var(--spacing-s)
