.header
  position: relative
  display: flex
  align-items: center
  justify-content: center
  flex: 1

  &__params-controls
    position: absolute
    top: var(--spacing-l)
    right: var(--spacing-l)
    display: flex
    align-items: center
    gap: var(--spacing-s)
