@import '@/Styles/typography'

.massage-wrapper
  display: flex
  flex-direction: column
  gap: var(--spacing-l)

  &__box
    display: flex
    flex-direction: column
    gap: var(--spacing-s)

  &__link
    @include label-large
    align-self: flex-end
    font-size: var(--font-size-m, 24px)
    font-weight: bold
    color: hsl(var(--brand-foreground-primary-rest))
    text-decoration: underline
    text-underline-offset: 6px
