@import '@/Styles/typography'

.massage-card
  --massage-card-padding: var(--spacing-l)
  --massage-card-radius: var(--radius-s)

  padding: var(--massage-card-padding)
  border-radius: var(--massage-card-radius)

  &:hover
    background-color: hsl(var(--neutral-background-secondary-hover))

  &:active
    background-color: hsl(var(--neutral-background-secondary-pressed))

  &__wrapper
    width: 100%

  &__image
    height: 100%
    aspect-ratio: 1 / 1
    border-radius: calc(var(--massage-card-padding) - var(--massage-card-radius))

  &__details
    display: flex
    flex-direction: column
    gap: var(--spacing-s)

    &__title
      @include title-large

    &__description
      @include body-small
